*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html{
  height:100%;
}

body{
  overflow-x: hidden;
  transition: 0.5s;
  min-height: 100%;
  background: #fff;
  background-attachment:fixed;
}

/* FrontPage */
.FrontPage{
  position: relative;
}

.Top{
  position: relative;
  background-color:#7e7f7a;
  padding: 10%;
  text-align: center;
  color: #fff;
}

.Top p{
  margin-top: 5%;
}

.Bottom {
  background-color:#53c1a9;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.Head{
  padding: 50px;
  margin-bottom: 20px;
}

.Fins, .Sins, .Tins{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20%;
}

/* Login and Register */
.form-box{
  width: 80%;
  height: 60%;
  position: relative;
  margin: 30% auto;
  background: #fff;
  padding: 10%;
  overflow: hidden;
  border-radius: 30px;
}

.input-field{
  color: black;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
  color:white;
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 10% 10%;
  background: linear-gradient(to right, #53c1a9, #53c1a9);
  border: 0;
  outline: none;
  border-radius: 30px;
}
